* {
  border: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family: Source Code Pro Medium;
}

window#waybar {
  color: #ffffff;
  background: rgba(0, 0, 0, 0);
}

#custom-logo {
  font-size: 28px;
  margin-left: 14px;
  margin-right: 20px;
  font-family: Source Code Pro;
}

#workspaces button {
  margin: 5px;
  padding: 10px 20px;
  background-color: rgba(63, 61, 61, 0.65);
  border-radius: 10px;
  color: #ffffff;
}

#workspaces button.active {}

#workspaces button:hover {
  background-color: #545353;
  color: #ffffff;
}

#workspaces button.focused {
  background-color: #383737;
}

#workspaces button.active {
  background-color: #7ea859;
  color: #333333;
}

#workspaces button.urgent {
  background-color: #d1cc92;
  color: #333333;
}

#tray {
  margin-right: 10px;
  background: rgba(0, 0, 0, 0);
}

#language {
  margin-right: 14px;
}

#clock {
  margin-left: 10px;
}


#battery {
  margin-left: 14px;
  margin-right: 6px;
}

#network,
#clock,
#custom-power,
#wireplumber,
#mpd {
  padding: 10px 15px;
  margin: 5px;
  background-color: rgba(63, 61, 61, 0.65);
  border-radius: 10px;
  border: 1px solid #9e9a9b;
}

#network {
  padding-right: 19.5px;
}

* {
  border: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family: Source Code Pro Medium;
}

window#waybar {
  color: #ffffff;
  background: rgba(0, 0, 0, 0);
}

#custom-logo {
  font-size: 28px;
  margin-left: 14px;
  margin-right: 20px;
  font-family: Source Code Pro;
}

#workspaces button {
  margin: 5px;
  padding: 10px 20px;
  background-color: rgba(63, 61, 61, 0.65);
  border-radius: 10px;
  color: #ffffff;
}

#workspaces button.active {}

#workspaces button:hover {
  background-color: #545353;
  color: #ffffff;
}

#workspaces button.focused {
  background-color: #383737;
}

#workspaces button.active {
  background-color: #7ea859;
  color: #333333;
}

#workspaces button.urgent {
  background-color: #d1cc92;
  color: #333333;
}

#tray {
  margin-right: 10px;
  background: rgba(0, 0, 0, 0);
}

#language {
  margin-right: 14px;
}

#clock {
  margin-left: 10px;
}


#battery {
  margin-left: 14px;
  margin-right: 6px;
}

#network,
#clock,
#custom-power,
#wireplumber,
#mpd {
  padding: 10px 15px;
  margin: 5px;
  background-color: rgba(63, 61, 61, 0.65);
  border-radius: 999em;
  border: 1px solid #9e9a9b;
}

#network {
  padding-right: 19.5px;
}
