@define-color red-dim @red-dim@;
@define-color green-dim @green-dim@;
@define-color yellow-dim @yellow-dim@;
@define-color blue-dim @blue-dim@;
@define-color purple-dim @purple-dim@;
@define-color aqua-dim @aqua-dim@;
@define-color gray-dim @gray-dim@;
@define-color orange-dim @orange-dim@;

@define-color red @red@;
@define-color green @green@;
@define-color yellow @yellow@;
@define-color blue @blue@;
@define-color purple @purple@;
@define-color aqua @aqua@;
@define-color gray @gray@;
@define-color orange @orange@;

@define-color bg0-h @bg0-h@;
@define-color bg0-s @bg0-s@;

@define-color bg0 @bg0@;
@define-color bg1 @bg1@;
@define-color bg2 @bg2@;
@define-color bg3 @bg3@;
@define-color bg4 @bg4@;
@define-color bg @bg@;

@define-color fg0 @fg0@;
@define-color fg1 @fg1@;
@define-color fg2 @fg2@;
@define-color fg3 @fg3@;
@define-color fg4 @fg4@;
@define-color fg @fg@;

@define-color border @bg4;

/* === Waybar Root === */

window#waybar {
  background: none;
  color: @fg;
  font-family: "JetBrainsMono NFP";
  font-size: 14px;
}

/* === Module Containers === */
.modules-center,
.modules-right,
#window,
#workspaces,
#cava,
#submap {
  background: @bg;
  padding: 0px 10px;
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 7px;
  border: 1px solid alpha(@border, 0.2);
  /* border: 2px solid @border; */
}

#cava {
  margin-left: 0;
  color: @purple;
}

#submap {
  margin-left: 0;
}

/* === Widgets === */

#clock {
  padding: 0px 10px;
  color: @yellow;
}

#workspaces button {
  padding: 7px;
  color: @fg;
  box-shadow: inherit;
  text-shadow: inherit;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0);
}

#workspaces button:not(.active):not(.urgent):hover {
  color: @fg4;
  background: none;
  transition-duration: 0.1s;
}

#workspaces button.active:hover,
#workspaces button.urgent:hover {
  background: none;
}

#workspaces button.urgent {
  color: @orange;
}

#network {
  color: @orange;
}

#pulseaudio {
  color: @red;
}

#cpu {
  color: @blue;
}

#memory {
  color: @green;
}

#custom-ddcutil {
  color: @yellow;
}

#bluetooth {
  color: @blue-dim;
}

#custom-power {
  color: @red;
}

#idle_inhibitor {
  color: @blue;
  padding-right: 12px;
}

#battery {
  color: @yellow;
}

/* === Universal Padding for Right Modules === */

#network,
#pulseaudio,
#cpu,
#memory,
#bluetooth,
#custom-power,
#custom-ddcutil,
#tray,
#battery,
#language {
  padding: 0 10px;
}

#idle_inhibitor {
  padding: 0 7px;
}

/* === Tooltip === */

tooltip {
  /* Using the default Catppuccin Mocha colors for tooltip as they were hardcoded */
  background: #1e1e2e;
  border-radius: 8px;
}

tooltip label {
  color: #cad3f5;
  margin-right: 5px;
  margin-left: 5px;
}
