/*
*===Color Definitions (Gruvbox Inspired)===*/
/* Warm colors */
@define-color flamingo #FB4934;
@define-color peach #FE8019;
@define-color red #FB4934;
@define-color maroon #B16286;
@define-color yellow #FABD2F;
@define-color pink #D3869B;

/* Cool colors */
@define-color green #B8BB26;
@define-color teal #8EC07C;
@define-color sky #83A598;
@define-color sapphire #458588;
@define-color blue #83A598;

/* Neutral colors */
@define-color lavender #EBDBB2;
@define-color text #EBDBB2;
@define-color subtext1 #BDAE93;
@define-color subtext0 #A89984;
@define-color overlay2 #665C54;
@define-color overlay1 #504945;
@define-color overlay0 #3C3836;
@define-color surface2 #282828;
@define-color surface1 #1D2021;
@define-color surface0 #1D2021;
@define-color base #282828;
@define-color mantle #1D2021;
@define-color crust #1D2021;
@define-color border #83A598;
/* sky */

/* === Waybar Root === */

window#waybar {
  background: none;
  color: @text;
  font-family: "JetBrainsMono NFP";
  font-size: 14px;
}

/* === Module Containers === */
.modules-center,
.modules-right,
#window,
#workspaces,
#cava,
#submap {
  background: @base;
  padding: 0px 10px;
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 7px;
  border: 1px solid alpha(@subtext1, 0.2);
  /* border: 2px solid @border; */
}

#cava {
  margin-left: 0;
  color: @pink;
}

#submap {
  margin-left: 0;
}

/* === Widgets === */

#clock {
  padding: 0px 10px;
  color: @yellow;
}

#workspaces button {
  padding: 7px;
  color: @text;
  box-shadow: inherit;
  text-shadow: inherit;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0);
}

#workspaces button:not(.active):not(.urgent):hover {
  color: @subtext0;
  background: none;
  transition-duration: 0.1s;
}

#workspaces button.active:hover,
#workspaces button.urgent:hover {
  background: none;
}

#workspaces button.urgent {
  color: @peach;
}

#network {
  color: @peach;
}

#pulseaudio {
  color: @red;
}

#cpu {
  color: @blue;
}

#memory {
  color: @green;
}

#custom-ddcutil {
  color: @yellow;
}

#bluetooth {
  color: @sapphire;
}

#custom-power {
  color: @red;
}

#idle_inhibitor {
  color: @sky;
  padding-right: 12px;
}

/* === Universal Padding for Right Modules === */

#network,
#pulseaudio,
#cpu,
#memory,
#bluetooth,
#custom-power,
#custom-ddcutil,
#tray,
#language {
  padding: 0 10px;
}

#idle_inhibitor {
  padding: 0 7px;
}

/* === Tooltip === */

tooltip {
  /* Using the default Catppuccin Mocha colors for tooltip as they were hardcoded */
  background: #1e1e2e;
  border-radius: 8px;
}

tooltip label {
  color: #cad3f5;
  margin-right: 5px;
  margin-left: 5px;
}
