CompileFlags:
  Remove:
    - "-mlongcalls"
    - "-fno-tree-switch-conversion"
    - "-Wno-error=unused-function"
    - "-Wno-error=unused-variable"
    - "-Wno-error=deprecated-declarations"
    - "-Wno-unused-parameter"
    - "-Wno-sign-compare"
    - "-Wwrite-strings"
    - "-Wno-error=unused-but-set-variable"
    - "-fstrict-volatile-bitfields"
